.card-title-style {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto;
    font-size: 20px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 600;
}

.card-title-style-date {
    justify-content: flex-end;
}

.card-award-styling {
    width: 100%;
    margin-top: 25px;
}