.other-link-container {
    display: flex;
    position: relative;
    float: right;
    top: -3em;
    font-size: 20px;
}

.link-styling {
    margin-left: 25px;
    margin-right: 25px;
}

.link-text {
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  font-size: 18px;
  top: -0.05em;
  left: 8px;
}